@import "../../abstracts/mixins";
@import "../../abstracts/variables";
@import "../../components/button";

.balance {
  margin-top: 3rem;
  text-align: center;
  &__title {
    @include fontHeading($font-weight-bold, 2rem);
    color: $color-black;
    padding-bottom: 0.5rem;
    @media (max-width: $query-small) {
      font-size: 3rem;
    }
  }
  &__input {
    @include designInput(3rem, 1rem);
    padding: 1rem 0;
    margin-bottom: 0.5rem;
    color: $color-primary;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &[type="number"] {
      width: 15rem;
    }
  }
  &__prevNumber {
    display: block;
    font-size: 1.5rem;
    color: $color-black;
    @media (max-width: $query-small) {
      font-size: 2rem;
    }
  }
}

.btn {
  &--primary {
    @include boxShadow(0.5);
    padding: 1rem;
  }
}
