// COLORS
$color-white: #efefef;
$color-black: #202020;
$color-primary: #1d449a;
$color-secondary: #9a731d;
$color-tertiary: #dfb557;
$color-quaternary: #74581a;

// FONTS, use on font-family!
$font-heading: "Cardo", sans-serif;
$font-body: "Assistant", serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// MEDIA QUERIES
$query-small: 400px;
