// COLORS

$color-white: #efefef;
$color-black: #202020;
$color-primary: #1d449a;
$color-secondary: #9a731d;
$color-tertiary: #dfb557;

// FONTS, use on font-family!
$font-heading: 'Cardo', sans-serif;
$font-body: 'Assistant', serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// BOX-SHADOW
$box-shadow: 0 3px 20px rgba($color-black, 0.3);