// COLORS
$color-white: #EBF1FF;
$color-black: #040A17;
$color-primary: #1d449a;
$color-secondary: #9a731d;
$color-tertiary: #dfb557;
$color-quaternary: #4D3500;
$color-error: #F44336;
$color-warning: #EED202;

// FONTS, use on font-family!
$font-heading: "Cardo", sans-serif;
$font-body: "Assistant", serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// MEDIA QUERIES
$query-large: 78.4375em; // 1065px
$query-medium-large: 60em; // 960px
$query-medium: 56.875em; // 810px
$query-small: 25em; // 400px
