@import "../../abstracts/mixins";
@import "../../abstracts/variables";

.header {
  @include fontHeading($font-weight-regular, 1.5rem);
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  &__logo {
    color: $color-black;
    margin-left: 10rem;
  }
}
