@import "../../abstracts/mixins";
@import "../../abstracts/variables";

.inc-exp {
  &__error {
    background-color: $color-black;
    color: $color-error;
    border-radius: 1rem;
    margin: 0 1rem;
    &-form {
      font-size: 2.5rem;
    }
    &-item {
      font-size: 1.3rem;
    }
  }
  &__add {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    @media (max-width: $query-medium-large) {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
    &-input {
      @include designInput(1.75rem, 0.6rem);
      margin-right: 1rem;
      &[type="number"]::-webkit-outer-spin-button,
      &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      &[type="number"] {
        width: 7rem;
      }
      @media (max-width: $query-medium-large) {
        width: 100%;
        margin: 0 auto;
      }
    }
    &-category {
      @media (max-width: $query-small) {
      }
    }
    &-amount {
      // margin-left: auto;
    }
  }
}
