@import "../../abstracts/mixins";
@import "../../abstracts/variables";

.inc-exp {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: $color-black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    @include fontHeading($font-weight-regular, 1.5rem);
    // FOR DOTS
    max-width: 45rem;
  }
  &__title {
    &::after {
      content: ",";
      padding-left: 0.25rem;
    }
    @include fontHeading($font-weight-bold, 2rem);
  }
  &__category {
    margin-right: auto;
    padding-left: 0.5rem;
    text-align: left;
  }
  &__amount {
    @include designNumber(2rem);
  }
  &__icon {
    font-size: 2rem;
    margin-left: 0.5rem;
  }
}
