@import "../../abstracts/mixins";
@import "../../abstracts/variables";

.networth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  @media (max-width: $query-medium) {
    margin: 2rem 0;
  }
  &__caption {
    color: $color-black;
    @include fontSizeSmall;
    margin-bottom: 0.25rem;
    text-align: center;
    margin: 0 2rem;
  }
  &__monthContainer {
    @include boxShadow(0.7);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    text-align: center;
    background-color: $color-quaternary;
    max-width: 85%;
    border-radius: 0.5rem;
    @media (max-width: $query-medium) {
      max-width: 60%;
    }
  }
  &__noBalance {
    font-size: 6rem;
    margin: 0 3rem;
    @media (max-width: $query-medium) {
      font-size: 4rem;
    }
  }
}
