@import "./abstracts/variables";
@import "./abstracts/mixins";

// CSS RESET

:global(*) {
  margin: 0;
  padding: 0;
}

:global(*, *::before, *::after) {
  box-sizing: inherit;
}

:global(html) {
  box-sizing: border-box;
  font-size: 62.5%; // sets 1rem = 10px (10/16 = 62.5%)
}

:global(body) {
  font-family: $font-body;
  line-height: 1.6;
  color: $color-white;
  background-color: $color-tertiary;
  background-size: cover;
}

// DESCRIPTION STYLES

.description {
  color: $color-black;
  width: 60%;
  margin: 0 auto;
  &__top {
    margin-top: 1rem;
  }
  &__text {
    text-align: center;
    font-size: 1.8rem;
    @media (max-width: $query-medium) {
      font-size: 1.5rem;
    }
  }
  &__text:first-of-type {
    @include fontHeading(700, 2rem);
  }
  &__text:last-of-type {
    @media (max-width: $query-medium) {
      margin: 1.5rem auto;
    }
  }
  &__ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__li {
    font-size: 1.75rem;
    @media (max-width: $query-medium) {
      font-size: 1.25rem;
    }
  }
}
